{% extends "auth/template/auth_layout.html" %} {% block wrapper_content %}

<div class="row g-0 app-auth-wrapper">
  <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
    <div class="d-flex flex-column align-content-end">
      <div class="app-auth-body mt-5 mx-auto">
        <div class="app-auth-branding mb-4">
          <a class="app-logo" href=""
            ><img
              class="logo-icon me-2"
              src="{{ url_for('static', filename='images/favicon.webp') }}"
              alt="logo"
          /></a>
        </div>
        <h2 class="auth-heading text-center mb-5">Log in to Portal</h2>
        <div class="auth-form-container text-start">
          <form
            id="loginForm"
            action="{{ url_for('main.login') }}"
            method="POST"
            class="auth-form login-form"
          >
            <div class="mb-3">
              <input
                id="username"
                name="username"
                type="text"
                class="form-control signin-email"
                placeholder="Username or Email"
              />
              <div id="usernameError" class="error-text"></div>
            </div>
            <div class="password mb-3">
              <input
                id="password"
                name="password"
                type="password"
                class="form-control signin-password"
                placeholder="Password"
              />
              <div id="passwordError" class="error-text"></div>
              <div class="extra mt-3 row justify-content-between">
                <div class="col-6">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="RememberPassword"
                    />
                    <label class="form-check-label" for="RememberPassword">
                      Remember me
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                id="loginButton"
                data-loading-text="Logging in..."
                class="btn app-btn-primary w-100 theme-btn mx-auto"
              >
                Log In
              </button>
              <span>Not yet registerd? <a href="{{ url_for('main.register') }}">Register</a></span>
            </div>
          </form>
         
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
    <div class="auth-background-holder"></div>
    <div class="auth-background-mask"></div>
    <div class="auth-background-overlay p-3 p-lg-5">
      <div class="d-flex flex-column align-content-end h-100">
        <div class="h-100">
          <h2 class="text-white title-auth">
            A Seamless Teachers Web Platform for Adhoc Comprehensive Data Access
            in Magallanes Central Elementary School
          </h2>
        </div>
      </div>
    </div>
    <!--//auth-background-overlay-->
  </div>
</div>
{% endblock %}
