{% extends "auth/template/auth_layout.html" %} {% block wrapper_content %}

<!-- Sign Up Box -->
<div class="flex-grow flex items-center justify-center bg-black bg-opacity-10">
  <div
    class="bg-gray-800 bg-opacity-45 p-6 rounded-md shadow-lg w-[320px] sm:w-[400px] max-h-[95vh] m-10 backdrop-blur-sm"
  >
    <h2 class="text-xl font-bold text-center mb-4">Sign Up</h2>
    <form
      id="registerForm"
      action="{{ url_for('main.register') }}"
      method="POST"
    >
      <!-- Form Fields -->
      <div id="errorMessages" class="mb-4"></div>
      <div id="successMessages" class="mb-4"></div>

      <div class="mb-4 flex space-x-4">
        <!-- First Name -->
        <div class="w-1/3">
          <label for="fname" class="block text-sm font-medium mb-1"
            >First Name</label
          >
          <input
            id="firstname"
            name="firstname"
            type="text"
            placeholder="Enter First Name"
            class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
            required
          />
        </div>
        <!-- Middle Name -->
        <div class="w-1/3">
          <label for="mname" class="block text-sm font-medium mb-1"
            >Middle Name</label
          >
          <input
            id="middlename"
            name="middlename"
            type="text"
            placeholder="Enter Middle Name"
            class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
          />
        </div>
        <!-- Last Name -->
        <div class="w-1/3">
          <label for="lname" class="block text-sm font-medium mb-1"
            >Last Name</label
          >
          <input
            id="lastname"
            name="lastname"
            type="text"
            placeholder="Enter Last Name"
            class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
            required
          />
        </div>
      </div>

      <!-- Grade Level -->
      <div class="mb-4">
        <label for="Grade Level" class="block text-sm font-medium mb-1"
          >Grade Level</label
        >
        <input
          id="grade"
          name="grade"
          type="text"
          placeholder="Enter Grade Level"
          class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
        />
      </div>
      <!-- Email -->
      <div class="mb-4">
        <label for="Email" class="block text-sm font-medium mb-1"
          >Email</label
        >
        <input
          id="email"
          name="email"
          type="email"
          placeholder="Enter Email"
          class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
        />
      </div>
      <!-- Username -->
      <div class="mb-4">
        <label for="Username" class="block text-sm font-medium mb-1"
          >Username</label
        >
        <input
          id="username"
          name="username"
          type="text"
          placeholder="Enter Username"
          class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
        />
      </div>
      <!-- Password -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium mb-1"
          >Password</label
        >
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Enter Password"
          class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
        />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium mb-1"
          >Confirm Password</label
        >
        <input
          id="confirm_password"
          name="confirm_password"
          type="password"
          placeholder="Enter Confirm Password"
          class="w-full px-3 py-2 border border-gray-600 rounded-md text-black"
        />
      </div>
      <!-- Login Button -->
      <div class="mb-4">
        <button
          type="submit"
          class="w-full bg-blue-700 hover:bg-blue-800 text-white font-medium py-2 rounded-md"
        >
          Sign Up
        </button>
      </div>
    </form>
    <!-- Footer Links -->
    <div class="text-center text-sm">
      Already have an account?
      <a
        href="{{ url_for('main.login') }}"
        class="text-blue-500 hover:underline"
        >Login</a
      >
    </div>
  </div>
</div>

{% endblock %}
