{% extends "auth/template/auth_layout.html" %} {% block wrapper_content %}

<div class="row g-0 app-auth-wrapper">


  <div class="col-12 col-md-5 col-lg-5 h-100 auth-background-col">
    <div class="auth-background-holder"></div>
    <div class="auth-background-mask"></div>
    <div class="auth-background-overlay p-3 ">
      <div class="d-flex flex-column align-content-end h-100">
        <div class="h-100">
          <h2 class="text-white title-auth">
            A Seamless Teachers Web Platform for Adhoc Comprehensive Data Access
            in Magallanes Central Elementary School
          </h2>
        </div>
      </div>
    </div>
    <!--//auth-background-overlay-->
  </div>

  <div class="col-12 col-md-7 col-lg-7 auth-main-col text-center ">
    <div class="d-flex flex-column align-content-end">
      <div class="app-auth-body mt-5 mx-auto">
        <div class="app-auth-branding mb-4">
          <a class="app-logo" href=""><img class="logo-icon me-2"
              src="{{ url_for('static', filename='images/favicon.webp') }}" alt="logo" /></a>
        </div>
        <h2 class="auth-heading text-center mb-3">Register Portal</h2>
        <div class="auth-form-container text-start">
          <form id="registerForm" action="{{ url_for('main.register') }}" method="POST" class="auth-form login-form">
            <div class="mb-3">
              <input id="username" name="username" type="text" class="form-control signin-email"
                placeholder="Username" />
              <div id="usernameError" class="error-text"></div>
            </div>
            <div class="mb-3 row  ">
              <!-- First Name -->
              <div class="col">
                
                <input id="firstname" name="firstname" type="text" placeholder="First Name" class="form-control"
                  required />
              </div>
             


            </div>
            <div class="row mb-3">
               <!-- Last Name -->
               <div class="col">
               <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control"
                  required />
              </div>
              <!-- Middle Name -->
              <div class="col">
                <input id="middlename" name="middlename" type="text" placeholder="Middle Name" class="form-control" />
              </div>
             
            </div>
            <div class="password mb-3">
              <input id="email" name="email" type="email" class="form-control signin-password" placeholder="Email" />
              <div id="passwordError" class="error-text"></div>

            </div>

            <div class="password mb-3">
              <input id="password" name="password" type="password" class="form-control signin-password"
                placeholder="Password" />
              <div id="passwordError" class="error-text"></div>

            </div>
            <div class="password mb-3">
              <input id="confirm_password" name="confirm_password" type="password" class="form-control signin-password"
                placeholder="Confirm Password" />
              <div id="passwordError" class="error-text"></div>

            </div>
            <div class="text-center">
              <button type="submit" id="registerButton" data-loading-text="Registering..."
                class="btn app-btn-primary w-100 theme-btn mx-auto">
                Register
              </button>
              <span>Already have an account? <a href="{{ url_for('main.login') }}">Login</a></span>
           
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}