{% extends "admin/template/admin_layout.html" %} {% block wrapper_content %}

<div class="app-content pt-3 p-md-3 p-lg-4">
  <div class="container-xl">
    <div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-auto">
        <h1 class="app-page-title mb-0">
          {{ request.endpoint.split('.')[-1] | upper }}
        </h1>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3">
      {% for category in categories %}

      <div class="col">
        <a href="{{ url_for('admin.view_folder', slug=category.slug) }}" class="text-decoration-none">
          <div class="card shadow-sm p-3 d-flex flex-row align-items-center">
            <!-- Folder Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-8 text-primary me-3" style="width: 40px; height: 40px">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44
                   -2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0
                   2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5
                   0 0 1-1.06-.44Z" />
            </svg>

            <!-- Folder Name -->
            <p class="mb-0 fw-bold text-truncate" data-bs-toggle="popover" data-bs-trigger="hover focus"
              data-bs-content="{{ category.name | upper }}" data-bs-placement="bottom">
              {{ category.name | upper }}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</div>