{% extends "admin/template/admin_layout.html" %} {% block wrapper_content %}

<div class="app-content pt-3 p-md-3 p-lg-4">
  <div class="container-xl">
    <div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-auto">
        <h1 class="app-page-title mb-0">
          {{ category.name | upper }} FOLDER
        </h1>
      </div>

      <div class="col-auto">
        <a
          class="btn app-btn-primary theme-btn"
            href="{{ url_for('admin.docs') }}"
        >
          GO BACK TO DOCS
        </a>
      </div>
    </div>

    <div class="table-responsive p-3">
      <table id="datatable1" class="table app-table-hover mb-0 text-left">
        <thead>
          <tr>
            <th class="cell">No.</th>
            <th class="cell">File Name</th>
            <th class="cell">File Size</th>
            <th class="cell">File Extension</th>
            <th class="cell">Date</th>

            <th class="cell"></th>
          </tr>
        </thead>

        <tbody>
          {% for category in categories %}

          <tr>
            <td class="cell">{{ loop.index }}</td>
            <td class="cell">{{ category.name }}</td>
            <td class="cell">{{ category.created_at }}</td>

            <td class="cell text-end">
              <a
                href="/admin/category/edit/{{ category.id }}"
                class="btn-sm app-btn-secondary"
              >
                Edit
              </a>
              <a
                href="/admin/category/delete/{{ category.id }}"
                class="btn-sm app-btn-danger"
              >
                Delete
              </a>
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
</div>
