<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEACHER’S WEB PLATFORM MCES {% block title %}{% endblock %}</title>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.webp') }}"
    />
  </head>
  <body>
    {% block content %}
    <!-- content -->
    {% endblock %}
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
  </body>
</html>
